@if (_isVisible)
{
    <div class="alert alert-info alert-dismissible">
        @ChildContent
        <button type="button" class="btn-close" @onclick=CloseAlert aria-label="Close"></button>
    </div>
}

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private bool _isVisible;

    protected override void OnInitialized()
    {
        _isVisible = true;
    }

    private void CloseAlert()
    {
        _isVisible = false;
    }
}
